.hero-section {
  &.info {
    .container {
      background: rgba(125, 172, 175, .2);
      border-bottom: solid 1px #b1cdcf;
      overflow: hidden;

      .wrapper {
        padding-top: 68px;
        max-width: 1950px;
        margin: 0 auto;
        position: relative;

        .img-wrapper {
          width: 130%;

          img {
            width: 100%;
          }
        }

        .hero-text {
          position: absolute;
          top: 55%;
          left: 18%;

          .section-header {
            font-size: 2.5em;
            letter-spacing: 4px;
          }
        }
      }
    }
  }
}

.archive-info {
  padding-bottom: 70px;

  .container {
    margin-top: 70px;
    .section-header{
      text-align: center;
      font-size: 2.5em;
      letter-spacing: 3px;
    }
    .sub-title{
      text-align: center;
      font-family: "toppan-bunkyu-gothic-pr6n", serif;
      font-weight: 400;
      font-style: normal;
    }
    .border{
      margin: 30px auto 30px auto;
    }

    ul {
      width: 60%;
      max-width: 1000px;
      margin: 0 auto;
      list-style: none;
      font-family: "toppan-bunkyu-gothic-pr6n", serif;
      font-weight: 400;
      font-style: normal;
      line-height: 1.4em;

      li {

        &+li {
          border-top: solid 1px #E8E8E8;
        }

        a {
          padding: 2em;
          color: #254163;
          text-decoration: none;
          display: flex;
          align-items: center;
          transition: 0.3s;

          &:hover {
            opacity: 0.5;
          }

          span {
            display: block;
          }
          .title {
            margin-left: 150px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px){
  .archive-info {
    padding-bottom: 70px;

    .container {
      margin-top: 70px;

      .section-header {
        text-align: center;
        font-size: 2.5em;
        letter-spacing: 3px;
      }

      .sub-title {
        text-align: center;
        font-family: "toppan-bunkyu-gothic-pr6n", serif;
        font-weight: 400;
        font-style: normal;
      }

      .border {
        margin: 30px auto 30px auto;
      }

      ul {
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
        list-style: none;
        font-family: "toppan-bunkyu-gothic-pr6n", serif;
        font-weight: 400;
        font-style: normal;
        line-height: 1.4em;

        li {

          &+li {
            border-top: solid 1px #E8E8E8;
          }

          a {
            padding: 2em;
            color: #254163;
            text-decoration: none;
            display: flex;
            align-items: center;
            transition: 0.3s;

            &:hover {
              opacity: 0.5;
            }

            span {
              display: block;
            }

            .title {
              margin-left: 150px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .hero-section {
    &.info {
      .container {
        background: rgba(125, 172, 175, .2);
        border-bottom: solid 1px #b1cdcf;
        overflow: hidden;

        .wrapper {
          padding-top: 68px;
          max-width: 1950px;
          margin: 0 auto;
          position: relative;

          .img-wrapper {
            width: 320%;

            img {
              width: 100%;
            }
          }

          .hero-text {
            position: absolute;
            top: 55%;
            left: 5%;

            .section-header {
              font-size: 2.5em;
              letter-spacing: 4px;
            }
          }
        }
      }
    }
  }
  .archive-info {
    padding-bottom: 70px;

    .container {

      ul {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        list-style: none;

        li {
          padding: 0em;

          &+li {
            border-top: solid 1px #E8E8E8;
          }

          a {
            color: #254163;
            text-decoration: none;
            display: block;
            align-items: center;
            transition: 0.3s;
            padding: 1em;

            &:hover {
              opacity: 0.5;
            }

            span {
              display: block;
            }

            .date {
              font-size: 0.9em;
            }

            .title {
              margin-left: 0;
              margin-top: 0.5em;
            }
          }
        }
      }
    }
  }
}
