.hero-section {
  &.contact {
    .container {
      background: rgba(125, 172, 175, .2);
      border-bottom: solid 1px #b1cdcf;

      .wrapper {
        padding-top: 68px;
        max-width: 1950px;
        margin: 0 auto;
        position: relative;

        .img-wrapper {
          width: 83%;
        }

        .hero-text {
          position: absolute;
          top: 55%;
          left: 18%;

          .section-header {
            font-size: 2.5em;
            letter-spacing: 4px;
          }
        }
      }
    }
  }
}

.page-contact {
  .container {
    .wrapper {
      width: 83%;
      max-width: 1200px;
      margin: 0 auto;
      margin-top: 140px;
      margin-bottom: 90px;

      .section-header {
        font-size: 2.5em;
        letter-spacing: 4px;
        text-align: center;
      }

      .sub-title {
        font-family: "toppan-bunkyu-gothic-pr6n", serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
      }

      .border {
        margin: 0 auto;
        margin-top: 30px;
      }
      .content{
        max-width: 800px;
        margin: 0 auto;
        font-family: "toppan-bunkyu-gothic-pr6n", serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2px;
        margin-top: 80px;
      }
      .hubspot-form-wrapper{
        max-width: 750px;
        margin: 0 auto;
      }
      form{
        ul{
          list-style: none;
          width: 56%;
          min-width: 800px;
          margin: 0 auto;
          margin-top: 70px;
          li{
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            label{
              width: 25%;
              font-family: "toppan-bunkyu-gothic-pr6n", serif;
              font-weight: 400;
              font-style: normal;
              margin-top: .8em;
              .required{
                color: #FF5042;
                margin-left: 3px;
              }
            }
            span{
              width: 75%;
              input{
                width: 100%;
                padding: 1em;
                font-family: "toppan-bunkyu-gothic-pr6n", serif;
                font-weight: 400;
                font-style: normal;
              }
              textarea{
                width: 100%;
                padding: 1em;
                font-family: "toppan-bunkyu-gothic-pr6n", serif;
                font-weight: 400;
                font-style: normal;
              }
            }
          }
        }
        .wpcf7-response-output{
          border-color: none;
          margin: 2em 0.5em 1em;
          padding: 0.2em 1em;
          text-align: center;
          border: none;
          color: #7dacaf;
        }
      }
      .privacy-policy{
        text-align: center;
        margin-top: 30px;
        font-size: .8em;
        font-family: "toppan-bunkyu-gothic-pr6n", serif;
        font-weight: 400;
        font-style: normal;
      }
      .checkbox{
        text-align: center;
        margin-top: 20px;
        font-size: .8em;
        font-family: "toppan-bunkyu-gothic-pr6n", serif;
        font-weight: 400;
        font-style: normal;
        .required{
          color: #FF5042;
        }
      }
      .contact-btn{
        text-align: center;
        margin-top: 40px;
        button {
          display: inline-block;
          padding: .5em 4em;
          text-decoration: none;
          color: white;
          background: black;
          border: solid 1px black;
          font-family: "toppan-bunkyu-gothic-pr6n", serif;
          font-weight: 400;
          font-style: normal;
          position: relative;
          z-index: 1;
          transition: .3s;

          &:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background: white;
            transition: transform ease .3s;
            transform-origin: 100% 50%;
            transform: scaleX(0);
          }

          &:hover {
            color: black;

            &::before {
              transform-origin: 0% 50%;
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .page-contact {
    .container {
      .wrapper {
        width: 83%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 140px;
        margin-bottom: 90px;

        .section-header {
          font-size: 2.5em;
          letter-spacing: 4px;
          text-align: center;
        }

        .sub-title {
          font-family: "toppan-bunkyu-gothic-pr6n", serif;
          font-weight: 400;
          font-style: normal;
          text-align: center;
        }

        .border {
          margin: 0 auto;
          margin-top: 30px;
        }

        .content {
          font-family: "toppan-bunkyu-gothic-pr6n", serif;
          font-weight: 400;
          font-style: normal;
          letter-spacing: 2px;
          margin-top: 80px;
        }

        form {
          ul {
            list-style: none;
            width: 80%;
            min-width: 600px;
            margin: 0 auto;
            margin-top: 70px;

            li {
              margin-top: 30px;
              display: flex;
              justify-content: space-between;

              label {
                width: 25%;

                .required {
                  color: #FF5042;
                  margin-left: 3px;
                }
              }
              span{
                width: 75%;
                input {
                  width: 100%;
                  padding: 1em;
                }

                textarea {
                  width: 100%;
                  padding: 1em;
                }
              }

            }
          }
        }

        .privacy-policy {
          text-align: center;
          margin-top: 30px;
          font-size: .8em;
        }

        .checkbox {
          text-align: center;
          margin-top: 20px;
          font-size: .8em;
        }

        .contact-btn {
          text-align: center;
          margin-top: 40px;

          button {
            display: inline-block;
            padding: .5em 4em;
            text-decoration: none;
            color: white;
            background: black;
            border: solid 1px black;
            font-family: "toppan-bunkyu-gothic-pr6n", serif;
            font-weight: 400;
            font-style: normal;
            position: relative;
            z-index: 1;
            transition: .3s;

            &:before {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
              background: white;
              transition: transform ease .3s;
              transform-origin: 100% 50%;
              transform: scaleX(0);
            }

            &:hover {
              color: black;

              &::before {
                transform-origin: 0% 50%;
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .hero-section {
    &.contact {
      .container {
        background: rgba(125, 172, 175, .2);
        border-bottom: solid 1px #b1cdcf;

        .wrapper {
          padding-top: 68px;
          max-width: 1950px;
          margin: 0 auto;
          position: relative;

          .img-wrapper {
            width: 100%;
            overflow: hidden;
            img{
              width: 180%;
            }
          }

          .hero-text {
            position: absolute;
            top: 55%;
            left: 5%;

            .section-header {
              font-size: 2.5em;
              letter-spacing: 4px;
            }
          }
        }
      }
    }
  }

  .page-contact {
    .container {
      .wrapper {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 90px;

        .section-header {
          font-size: 2.5em;
          letter-spacing: 4px;
          text-align: center;
        }

        .sub-title {
          font-family: "toppan-bunkyu-gothic-pr6n", serif;
          font-weight: 400;
          font-style: normal;
          text-align: center;
        }

        .border {
          margin: 0 auto;
          margin-top: 30px;
        }

        .content {
          font-family: "toppan-bunkyu-gothic-pr6n", serif;
          font-weight: 400;
          font-style: normal;
          letter-spacing: 2px;
          margin-top: 40px;
        }

        form {
          ul {
            list-style: none;
            width: 100%;
            min-width: 1px;
            margin: 0 auto;
            margin-top: 70px;

            li {
              margin-top: 30px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              label {
                width: 100%;

                .required {
                  color: #FF5042;
                  margin-left: 3px;
                }
              }
              span{
                width: 100%;
                input {
                  width: 100%;
                  padding: 1em;
                  margin-top: 1em;
                }

                textarea {
                  width: 100%;
                  padding: 1em;
                  margin-top: 1em;
                }
              }

            }
          }
        }

        .privacy-policy {
          text-align: center;
          margin-top: 30px;
          font-size: .8em;
        }

        .checkbox {
          text-align: center;
          margin-top: 20px;
          font-size: .8em;
        }

        .contact-btn {
          text-align: center;
          margin-top: 40px;

          button {
            display: inline-block;
            padding: .5em 4em;
            text-decoration: none;
            color: white;
            background: black;
            border: solid 1px black;
            font-family: "toppan-bunkyu-gothic-pr6n", serif;
            font-weight: 400;
            font-style: normal;
            position: relative;
            z-index: 1;
            transition: .3s;

            &:before {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
              background: white;
              transition: transform ease .3s;
              transform-origin: 100% 50%;
              transform: scaleX(0);
            }

            &:hover {
              color: black;

              &::before {
                transform-origin: 0% 50%;
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
  }
}
