.hero-section {
  &.partner{
    .container {
      background: rgba(125, 172, 175, .2);
      border-bottom: solid 1px #b1cdcf;

      .wrapper {
        padding-top: 68px;
        max-width: 1950px;
        margin: 0 auto;
        position: relative;

        .img-wrapper {
          width: 83%;
        }

        .hero-text {
          position: absolute;
          top: 55%;
          left: 18%;

          .section-header {
            font-size: 2.5em;
            letter-spacing: 4px;
          }
        }
      }
    }
  }
}

.page-partner-message {
  .container {
    .wrapper {
      width: 83%;
      max-width: 1200px;
      margin: 0 auto;
      margin-top: 60px;
      h2{
        text-align: center;
        font-size: 1.7em;
      }

      .content {
        font-family: "toppan-bunkyu-gothic-pr6n", serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2px;
        margin-top: 20px;
      }
    }
  }
}

.job-opening{
  .container{
    .wrapper{
      width: 83%;
      max-width: 1200px;
      margin: 0 auto;
      margin-top: 140px;
      .section-header{
        font-size: 2.5em;
        letter-spacing: 4px;
        text-align: center;
      }
      .sub-title{
        font-family: "toppan-bunkyu-gothic-pr6n", serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
      }
      .border{
        margin: 0 auto;
        margin-top: 30px;
      }
      .box-wrapper{
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        .box{
          width: 31%;
          .title-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            .num{
              p{
                font-family: "bebas-neue", sans-serif;
                font-weight: 400;
                font-style: normal;
                color: #7dacaf;
                font-size: 3em;
                letter-spacing: 5px;
              }
            }
            .title{
              .plan{
                font-family: "fot-matisse-pron", sans-serif;
                font-weight: bold;
                font-style: normal;
                font-size: 1.5em;
                line-height: 1em;
                margin-left: 10px;
              }
            }
          }
          .img-wrapper{
            width: 27%;
            margin: 30px auto 30px auto;
          }
          .desc{
            p{
              width: 90%;
              margin: 0 auto;
              line-height: 2em;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
  }
}

.page-top-contact {
  &.partner-contact {
    .container {
      background-image: url(img/page-top-contact-bg.png);
      background-image: none;
      background-size: cover;
      background-position: center;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: black;
        opacity: 0;
        z-index: 1;
      }

      .wrapper {
        padding: 0;
        width: 83%;
        max-width: 1200px;
        margin: 100px auto 80px auto;
        position: relative;
        z-index: 2;

        .section-header {
          font-size: 2.5em;
          text-align: center;
          color: black;
          letter-spacing: 4px;
        }

        .sub-title {
          text-align: center;
          color: black;
        }

        .border {
          margin: 30px auto;
        }

        .content {
          letter-spacing: 1.8px;
          width: 83%;
          color: black;
          margin: 0 auto;
          line-height: 2em;
          font-family: "toppan-bunkyu-gothic-pr6n", serif;
          font-weight: bold;
          font-style: normal;
          font-size: 1.5em;
          text-align: center;
        }

        .btn {
          text-align: center;
          margin-top: 40px;

          a {
            padding: .5em 2.5em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .job-opening {
    .container {
      .wrapper {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 140px;

        .section-header {
          font-size: 2.5em;
          letter-spacing: 4px;
          text-align: center;
        }

        .sub-title {
          font-family: "toppan-bunkyu-gothic-pr6n", serif;
          font-weight: 400;
          font-style: normal;
          text-align: center;
        }

        .border {
          margin: 0 auto;
          margin-top: 30px;
        }

        .box-wrapper {
          margin-top: 60px;
          display: flex;
          justify-content: space-between;

          .box {
            width: 31%;

            .title-wrapper {
              display: flex;
              align-items: center;
              justify-content: center;

              .num {
                p {
                  font-family: "bebas-neue", sans-serif;
                  font-weight: 400;
                  font-style: normal;
                  color: #7dacaf;
                  font-size: 3em;
                  letter-spacing: 5px;
                }
              }

              .title {
                .plan {
                  font-family: "fot-matisse-pron", sans-serif;
                  font-weight: bold;
                  font-style: normal;
                  font-size: 1.3em;
                  line-height: 1em;
                  margin-left: 10px;
                  // &.alliance{
                  //   font-size: 1.3em;
                  // }
                }
              }
            }

            .img-wrapper {
              width: 27%;
              margin: 30px auto 30px auto;
            }

            .desc {
              p {
                width: 90%;
                margin: 0 auto;
                line-height: 2em;
                letter-spacing: 2px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .hero-section {
    &.partner {
      .container {
        background: rgba(125, 172, 175, .2);
        border-bottom: solid 1px #b1cdcf;

        .wrapper {
          padding-top: 68px;
          max-width: 1950px;
          margin: 0 auto;
          position: relative;

          .img-wrapper {
            width: 100%;
            overflow: hidden;
            img{
              width: 180%;
            }
          }

          .hero-text {
            position: absolute;
            top: 55%;
            left: 5%;

            .section-header {
              font-size: 2.2em;
              letter-spacing: 4px;
            }
          }
        }
      }
    }
  }

  .page-partner-message {
    .container {
      .wrapper {
        width: 83%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 60px;

        h2 {
          text-align: center;
          font-size: 1.2em;
        }

        .content {
          font-family: "toppan-bunkyu-gothic-pr6n", serif;
          font-weight: 400;
          font-style: normal;
          letter-spacing: 2px;
          margin-top: 20px;
        }
      }
    }
  }

  .job-opening {
    .container {
      .wrapper {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 100px;

        .section-header {
          font-size: 2.5em;
          letter-spacing: 4px;
          text-align: center;
        }

        .sub-title {
          font-family: "toppan-bunkyu-gothic-pr6n", serif;
          font-weight: 400;
          font-style: normal;
          text-align: center;
        }

        .border {
          margin: 0 auto;
          margin-top: 30px;
        }

        .box-wrapper {
          margin-top: 60px;
          display: block;
          justify-content: space-between;

          .box {
            width: 100%;
            margin-top: 40px;

            .title-wrapper {
              display: flex;
              align-items: center;
              justify-content: center;

              .num {
                p {
                  font-family: "bebas-neue", sans-serif;
                  font-weight: 400;
                  font-style: normal;
                  color: #7dacaf;
                  font-size: 3em;
                  letter-spacing: 5px;
                }
              }

              .title {
                .plan {
                  font-family: "fot-matisse-pron", sans-serif;
                  font-weight: bold;
                  font-style: normal;
                  font-size: 1.3em;
                  line-height: 1em;
                  margin-left: 10px;
                  // &.alliance{
                  //   font-size: 1.3em;
                  // }
                }
              }
            }

            .img-wrapper {
              width: 27%;
              margin: 30px auto 30px auto;
            }

            .desc {
              p {
                width: 90%;
                margin: 0 auto;
                line-height: 2em;
                letter-spacing: 2px;
              }
            }
          }
        }
      }
    }
  }

  .page-top-contact {
    &.partner-contact {
      .container {
        background-image: url(img/page-top-contact-bg.png);
        background-image: none;
        background-size: cover;
        background-position: center;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          background: black;
          opacity: 0;
          z-index: 1;
        }

        .wrapper {
          padding: 0;
          width: 83%;
          max-width: 1200px;
          margin: 80px auto 80px auto;
          position: relative;
          z-index: 2;

          .section-header {
            font-size: 2.5em;
            text-align: center;
            color: black;
            letter-spacing: 4px;
          }

          .sub-title {
            text-align: center;
            color: black;
          }

          .border {
            margin: 30px auto;
          }

          .content {
            letter-spacing: 1.8px;
            width: 100%;
            color: black;
            margin: 0 auto;
            line-height: 1.5em;
            font-family: "toppan-bunkyu-gothic-pr6n", serif;
            font-weight: bold;
            font-style: normal;
            font-size: 1.2em;
            text-align: center;
          }

          .btn {
            text-align: center;
            margin-top: 40px;

            a {
              padding: .5em 2.5em;
            }
          }
        }
      }
    }
  }
}
