.single-works-work{
  .container{
    .wrapper{
      font-family: "toppan-bunkyu-gothic-pr6n", serif;
      font-weight: 400;
      font-style: normal;
      width: 870px;
      margin: 0 auto;
      .name{
        margin-top: 90px;
        .client-name{
          text-align: center;
          line-height: 1em;
          letter-spacing: 4px;
        }
        .pj-type{
          text-align: center;
          color: #7dacaf;
          font-size: .9em;
          line-height: 1em;
          margin-top: 10px;
          letter-spacing: 3px;
        }
      }
      .pj-img-wrapper{
        margin-top: 60px;
        .site-image{
          width: 83%;
          margin: 0 auto;
        }
        .design-comp{
          margin-top: 110px;
          box-shadow: 8px 8px 15px #CCCCCC;
        }
      }
      .overview{
        margin-top: 40px;
        ul{
          list-style: none;
          li{
            display: flex;
            align-items: center;
            border-bottom: solid 1px #E4E4E4;
            padding: 2em;
            .header{
              line-height: 1em;
              width: 20%;
            }
            .desc{
              line-height: 1em;
              width: 80%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .single-works-work {
    .container {
      .wrapper {
        font-family: "toppan-bunkyu-gothic-pr6n", serif;
        font-weight: 400;
        font-style: normal;
        width: 95%;
        margin: 0 auto;

        .name {
          margin-top: 90px;

          .client-name {
            text-align: center;
            line-height: 1em;
            letter-spacing: 4px;
            font-size: 1.4em;
          }

          .pj-type {
            text-align: center;
            color: #7dacaf;
            font-size: .9em;
            line-height: 1em;
            margin-top: 10px;
            letter-spacing: 3px;
          }
        }

        .pj-img-wrapper {
          margin-top: 60px;

          .site-image {
            width: 83%;
            margin: 0 auto;
          }

          .design-comp {
            margin-top: 110px;
          }
        }

        .overview {
          margin-top: 40px;

          ul {
            list-style: none;

            li {
              display: flex;
              align-items: center;
              border-bottom: solid 1px #E4E4E4;
              padding: 2em 1em;
              font-size: .9em;

              .header {
                line-height: 1.2em;
                width: 30%;
              }

              .desc {
                line-height: 1.2em;
                width: 70%;
              }
            }
          }
        }
      }
    }
  }
}
