@charset "UTF-8";
@use "../abstracts/mixins" as m;

// ===========================================
//  ⑩ 相談フォーム
// ===========================================

.s-form {
  &__points {
    margin: 32px auto 48px;

    @include m.mq-down(sm) { margin-bottom: 32px; }
  }

  &__figure {
    max-width: 520px;
    margin: 0 auto 40px;

    img {
      width: 100%;
      height: auto;
    }

    @include m.mq-down(sm) {
      max-width: 340px;
      margin-bottom: 28px;
    }
  }
}
