// ロゴ用のフォント
// font-family: "corporate-logo-ver2",sans-serif;
// font-weight: 700;
// font-style: normal;

// ロゴ用フォントmedium
// font-family: "corporate-logo-ver2",sans-serif;
// font-weight: 500;
// font-style: normal;

// FVのテキスト
// font-family: "zen-kaku-gothic-new",sans-serif;
// font-weight: 500;
// font-style: normal;

// font-family: YuGothic,'Yu Gothic',sans-serif;

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
